body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    gap: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.option img {
    width: 60px;
    height: 60px;
    transition: transform 1.2s;
    
}

.option p {
    margin-top: 10px;
    color: #009;
}
.option img :hover {
    animation: float 1.2s ease-in-out infinite;
    
}
.option:hover {
    transform: scale(1.05);
    
    
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
