html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  
  #permas {
    position: relative;
    width: 100%; /* Adjust the width as you need */
    
    height: 100%; /* You can set a fixed height if needed */
    overflow: hidden;
  }
  
  .scrolling-content {
    display: flex;
    height: auto;
    width: 100%;
  }
  
  #permas img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
    opacity: 0;
    transition: opacity 1s;
  }
  
  #permas img.active {
    display: block;
    opacity: 1;
  }
  
  .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  