body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
}

.schedule-container {
    width: 30%;
    margin-right: 20px;
}

.trip {
    display: flex;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    flex: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 100px;
}

.details {
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.time, .hours {
    
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
}

.route {
    align-self: center;
    font-size: 16px;
    color: #ff4c4c;
    font-weight: bold;
}

.line {
    background-color: #ff4c4c;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 5px;
    align-self: center;
}

.duration {
    align-self: center;
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}




#map-container iframe {
    position: right;
    width: 600px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
